@import url(fonts.googleapis.com/css?family=Ubuntu);
body {
	padding: 0;
	margin: 0;
}
html, body, #map {
	height: 700px;
	width: 900px;
	margin:auto;
	font-family: 'Ubuntu'
}
th {
	text-align: left;
	vertical-align: top;
}
.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}
.info h2 {
	margin: 0 0 5px;
	color: #777;
}
.leaflet-container {
	background: #fff;
	
#header {

		}
#container {
			font-size: 40;
			text-align: center;
			font-size: 27px;
      max-width: 50%;
      margin: auto;
	}

.leaflet-control-layers-expanded { background: #242426;
 }

 
 .leaflet-control-layers{ 
    width:auto;
    background-position:3px 10% ;
    padding-left: 0px;
    text-decoration:none;
    line-height:10px;
    background:#2c3e50;

    
  }